# This is Git's per-user configuration file.
[user]
	name = BlueCodeThree
	email = carliemhamilton@gmail.com
[push]
	default = current
[rebase]
	autosquash = true
[alias]
	co = checkout
	ec = config --global -e
	up = !git pull --rebase --prune $@ && git submodule update --init --recursive
	cob = checkout -b
	ac = !git add -A && git commit -m
	save = !git add -A && git commit -m "SAVEPOINT"
	wip = commit -am "WIP"
	undo = reset HEAD~1 --mixed
	amend = commit --amend
	wipe = !git add -A && git commit -m "Wipe-Save-Point" && git reset HEAD~1 --hard
	p = push
	pl = pull
	po = push origin
	plo = pull origin
	pom = push origin master
	plom = pull origin master
	s = status
	a = add
	c = commit
	abort = rebase --abort
	com = checkout master
	b = branch
	l = log --graph --decorate --pretty=oneline --abbrev-commit
